@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --intro-and-email-sign-up-background: hsl(217, 28%, 15%);
    --main-background: hsl(218, 28%, 13%);
    --footer-background: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 18%);
    --inside-call-to-action-gradient: hsl(176, 68%, 64%);
    --inside-call-to-action-gradient: hsl(198, 60%, 50%);
    --Red-error: hsl(0, 100%, 63%);
}

body{
    background-color: var(--main-background);
    color: white;
    font-family: "Open Sans", sans-serif;

}

header{
    padding: 3% 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 100px;
}

.logo img{
    width: 100%;
}

nav a{
    color: white;
    margin-right: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover{
    color: rgb(228, 228, 228);
}

section{
    padding: 3% 5%;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 600px;
    flex-direction: column;
    row-gap: 30px;
}

.hero-image{
    width: 40vw;
}

.hero-image img{
    width: 100%;
}


.hero-title, .hero-subtitle{
    text-align: center;
}

.hero-subtitle{
    font-size: clamp(1vw 0.9em 2vw);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.689);
}

.hero .herocta{
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 20px;
    color: #fff;
    font-size: clamp(1vw 0.9em 2vw);
    background-color: var(--inside-call-to-action-gradient);
    transition: all 0.3s ease;
}

.feature-section{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    /* background-image: url("/images/bg-curvy-desktop.svg"); */
}

.feature{
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    flex-direction: column;
}

.feature .feature-description{
    text-align: center;
    font-size: 0.9em;
    color: #ffffff8a;
}

.staypro-section{
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;
}

.staypro{
    width: 50%;
}

.staypro-image{
    width: 40vw;
}

.staypro-image img{
    width: 100%;
}

.staypro-section h2{
    font-size: 2em;
    margin-bottom: 20px;
}

.staypro-section p{
    color: rgba(255, 255, 255, 0.689);
    font-size: 0.9em;
    margin-bottom: 30px;
}

.staypro-section a{
    text-decoration: none;
    color: var(--inside-call-to-action-gradient);
    border-bottom: 2px solid var(--inside-call-to-action-gradient);
}

.staypro-section a img{
    margin-left: 10px;
    margin-top: 5px;
}

@media (max-width:768px) {
    .staypro-section{
        flex-direction: column;
        align-items: center;
    }

    .staypro{
        margin-top: 20px;
    }
}

.testimonials-section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.testimonial{
    width: 360px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    row-gap: 20px;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--testimonials-background);
    transition: all 0.5s ease;
    position: relative;
}


.testimonial .testimonial-description{
    text-align: left;
    font-size: 0.9em;
    color: #ffffff8a;
}

.testimonial .author{
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial .author img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimonial .author h3{
    font-size: 1em;
}

.testimonial .author h4{
    color: rgba(255, 255, 255, 0.689);
    font-size: 0.8em;
}

.testimonial:first-child::before{
    content: url("/images/bg-quotes.png");
    position: absolute;
    top: -30px;
    left: -15px;
    z-index: -1;
}


.cta-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    background-color: var(--intro-and-email-sign-up-background);
    max-width: 750px;
    border-radius: 10px;
    top: 50%;
    margin: 50px auto;
    z-index: 10;
}

.cta-section h2{
    font-size: 2em;
}

.cta-section p{
    color: rgba(255, 255, 255, 0.689);
    font-size: 0.9em;
}

.cta-section form{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.cta-section form input{
    padding: 10px 20px;
    border-radius: 20px;
    width: 70%;
    border: none;
    outline: none;
}

.cta-section form button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--inside-call-to-action-gradient);
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cta-section form button:hover{
    background-color: hsl(198, 60%, 50%);
}



footer{
    background-color: var(--footer-background);
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    position: relative;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    text-decoration: underline;
}

.footer-logo p{
    font-size: 0.8em;
    max-width: 300px;
    margin-top: 20px;
    position: relative;
    margin-left: 20px;
}

.footer-logo p::before{
    content: url("/images/icon-location.svg");
    position: absolute;
    top: 10px;
    left: -20px;
}

.footer-logo,.footer-contact,.footer-links,.footer-social{
    display: flex;
    flex-direction: column;
}

.footer-contact{
    row-gap: 20px;
}
.contact{
    display: flex;
    column-gap: 20px;
}

.footer-social{
    flex-direction: row;
    column-gap: 20px;
}

.footer-social i{
    font-size: 1.5em;
    transition: all 0.5s ease;
}

.footer-social i:hover{
    font-size: 1.7em;
    transform: translateY(-5px);
}
@media (max-width:547px) {
    footer{
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 20px;
        height: auto;
    }

    .staypro{
        width: 100%;
    }
}